<!DOCTYPE html>
<html lang="en">
  <head>
      <title>  GeoMANiK Labs-About Us </title>
      <link rel='icon' type="image/x-icon" href="static/favicon.png">
      <link rel="stylesheet" href="static/glstyles.css">
  </head>
  <body>
      <div id=topsection> 
          <img id="Logo" src="static/Logo.png" alt="GeoMANiK Labs Logo" width="120">
          <h1 id="header"> About Us </h1>
          <nav id="navbar">
              <a href="home.html">Home</a>
              <a href="products.html">Products</a>
              <a href="about.html">About</a>
              <a href="contact.html">Contact</a>
          </nav>
      </div>
      <div id="bannersection">  </div>
      <div id="subheader">  </div>
      <div id="midsection">  </div>
      <div id="footersection"></div>


  </body>
</html>