<!DOCTYPE html>
<html lang="en">
  <head>  
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <title> GeoMANiK Labs-Home </title>
      <link rel='icon' type="image/x-icon" href="static/favicon.png">
      <link rel="stylesheet" href="static/glstyles.css">
  </head>
  <body>  
    <div id=mainbody>
      <div id="topsection">
          <img id="Logo" src="static/Logo.png" alt="GeoMANiK Labs Logo" width="120">
          <h1 id="header"> Welcome to GeoMANiK Labs </h1>
          <nav id="navbar">
              <a href="home.html">Home</a>
              <a href="products.html">Products</a>
              <a href="about.html">About</a>
              <a href="contact.html">Contact</a>
          </nav>
      </div>
      <div id="bannersection">
          <div class="banner"> 
                <img src="static/HomepageBanner1.png" alt="GeoMANiK Labs Banner">
          </div>
          <div class="banner">
                <img src="static/HomepageBanner6.png" alt="GeoMANiK Labs Banner">
          </div>
          <div class="banner">
                <img src="static/HomepageBanner7.png" alt="GeoMANiK Labs Banner">
          </div>
          <div class="banner">
                <img src="static/HomepageBanner8.png" alt="GeoMANiK Labs Banner">
          </div>
          <div class="banner">
                <img src="static/HomepageBanner4.png" alt="GeoMANiK Labs Banner">
          </div>
          
      </div>
      <div id="subheader"> 
          <h2> Engineering Geospatial Technologies for the Future </h2>
      </div>
      <div id="midsection">  
          <div class="sector">
               <h3> Hardware </h3>
              <a href="hardware.html">
                <img class="sectionimage" src="static/HardWare1.png" alt="Geospatial Hardware">
              </a>
              <p style="text-align: left;">
                  GeoMANiK Labs offers proprietary hardware designed for seamless, reliable, and secure GIS applications. Our IP catalogue includes long-range data transmission hardware that works well with drone technologies, Global Navigation Satellite Systems with high spatial resolution and positioning accuracy, Remote Sensing Platforms, and NetKinnect devices for Cloud-Management Applications.<br>To meet the demands of an ever-evolving global market for GIS applications, GeoMANiK Labs focuses on developing highly modular systems that add functionality to existing GIS technologies, with emphasis on designing infrastructure that are not only robust, but offer security, scalability, flexibility, and ease of integration into existing systems. 
              </p>
          </div>
          <div class="sector">
               <h3> Software </h3>
              <a href="software.html">
                    <img class="sectionimage" src="static/LiDAR2.png" alt="Geospatial Software">
              </a>
              <p style="text-align: left;">
                  At GeoMANiK Labs, our approach is defined by high integration of both software and hardware, creating solutions that seamlessly complement your existing GIS infrastructure. Our proprietary Image Analysis and Visualization Software empowers users to not only interpret aerial and satellite imagery but also to construct interactive maps that bring complex data to life.<br> We specialize in leveraging LiDAR for data processing to create highly accurate Digital Elevation Models, which are essential for environmental modeling and urban planning. Furthermore, our systems provide realtime asset tracking over maps, offering dynamic, up-to-the-minute insights into your operations directly within our platform.             
              </p>
          </div>
          <div class="sector">
              <h3> Applications </h3>
              <a href="applications.html">
                    <img class="sectionimage" src="static/PseudoImage.png" alt="Applications">
              </a>
              <p style="text-align: left;">  Our diverse portfolio ensures a centralized and highly integrated ecosystem for companies looking to fully utilize and leverage geospatial information systems and technologies. <br>We offer solutions for a wide range of applications including; Cartography, Land Surveying, Urban Planning, Geospatial Intelligence and Analytics, Asset Tracking, Critical Infrastructure Monitoring, Agriculture, and general GIS. <br>This comprehensive suite of tools is designed to streamline operations and provide actionable insights, helping businesses across various sectors to make data-driven decisions and optimize their use of geographic data.    
              </p>
          </div>
          
      </div>
      <div id="bottomsection">
            <div id="bottomheader">
                    <hr class="lineseparator">
                    <h2>Exploring Our World With GIS </h2>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos. <br>

                Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque faucibus ex sapien vitae pellentesque sem placerat. In id cursus mi pretium tellus duis convallis. Tempus leo eu aenean sed diam urna tempor. Pulvinar vivamus fringilla lacus nec metus bibendum egestas. Iaculis massa nisl malesuada lacinia integer nunc posuere. Ut hendrerit semper vel class aptent taciti sociosqu. Ad litora torquent per conubia nostra inceptos himenaeos.<br>
                
                GeoMANiK Labs is a leading provider of geospatial technologies and solutions, dedicated to empowering businesses with innovative tools to harness the power of geographic data. Our mission is to deliver cutting-edge hardware, software, and applications that enable precise, reliable, and secure geospatial data management and analysis. By combining advanced technology with unparalleled expertise, we strive to create solutions that drive efficiency, enhance decision-making, and foster growth in various industries.
            </p>
      </div>
      <div id="footersection">
          <p style="text-align:center; font-size:20px;"> Copyright © 2022 GeoMANiK Labs™. All Rights Reserved. </p>  
      </div>
    </div>
  </body>
</html>